* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
/* font-family: 'Roboto Mono', monospace; */
}

body {
  /* background: #0f0c29;   */
  /* background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);   */
  /* background: linear-gradient(to right, #24243e, #302b63, #0f0c29);  */
  
  /* background: rgb(2,0,36); */
  
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 2rem;
  /* background-color:lightgray; */
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

   
}


h1 {
  margin: 32px 0;
  color:#5d0cff;
  font-size: 24px;
  font-weight: bold;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  /* border: 2px solid #5d0cff; */
  color: black;
  outline: none;
  float: left;
  margin-left: 38px;
  width: 320px;
  /* background: transparent; */
  /* background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  ); */
  background-image: linear-gradient(to right top, #051937, #0e274f, #1a3668, #264583, #33559e);
  /* background: linear-gradient(to right, #3e4b8d 0%, #5d86d3 100%); */
  /* border-radius: 12px; */
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: #e2e2e2;
  font-weight: bolder;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  /* display: inline; */
  outline: none;
  width: 120px;
  float: left;
  /* background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  ); */
  /* backdrop-filter: blur(16px) saturate(180%); */
  /* -webkit-backdrop-filter: blur(16px) saturate(180%); */
  background-color: rgba(17, 25, 40, 0.75);
  background-image: linear-gradient(to right top, #051937, #0e274f, #1a3668, #264583, #33559e);
  /* border-radius: 12px; */
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: #e2e2e2;
  font-weight: bolder;
  text-transform: capitalize;
}
/* 
.todo-input.edit {
  border: 2px solid #149fff;
} */

/* .todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
} */

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 20px;
  color:#161748;
  
}

.edit-icon {
  color:#161748;
  
 
}